/*global*/
@font-face {
  font-family: mont-regular;
  src: url(../font/Montserrat-Regular.ttf);
}
@font-face {
  font-family: mont-bold;
  src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
  font-family: rufina-regular;
  src: url(../font/Rufina-Regular.ttf);
}
@font-face {
  font-family: rufina-bold;
  src: url(../font/Rufina-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: mont-regular;
}
/*header*/
header {
  margin: 30px 0;
  width: 100%;
}
header p a{
  color: black;
  text-decoration: none;
}
.header__menu .navbar-nav .nav-item {
  padding: 0 15px;
}
.header__menu {
  align-items: center;
}
.font-change-rufina{
  font-family: rufina-regular;
}
/* title */
.title {
  background-image: url("../img/title-bar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.title h1 {
  font-size: 70px;
  font-family: rufina-regular;
}
/*categories*/
.category {
  padding-top: 16px;
}
.category p a {
  color: #34140e;
  text-decoration: none;
}
.category:hover,
.category:hover p a {
  background-color: #34140e;
  color: white;
}
/* blog */
.new-tag {
  max-width: 60px;
  max-height: 35px;
  background: red;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  margin-top: 10px;
}
/* footer */
.footer {
  background-color: #34140e;
  color: white;
}
.Cus-support a {
  color: white;
  text-decoration: none;
}
.follow i {
  font-size: 40px;
  margin: 20px 20px;
}
